<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <!-- Include the Tailwind CSS CDN or link to your local Tailwind CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- custom css file link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<header>
    <input type="checkbox" name="" id="toggler" />
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">TechTrade<span>.</span></a>

    <nav class="navbar">
        <a href="{{ url_for('hello') }}">Home</a>
    </nav>
</header>

<body class="bg-gray-100 h-screen flex justify-center items-center">

    <div class="bg-white p-8 rounded shadow-md w-96">
        <h1 class="text-2xl font-bold mb-6">User Registration</h1>
        <form method="post" action="{{ url_for('register') }}">
            <div class="mb-4">
                <label for="username" class="block text-gray-600">Username:</label>
                <input type="text" name="username" class="w-full border rounded px-3 py-2" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text--600">Password:</label>
                <input type="password" name="password" class="w-full border rounded px-3 py-2" required>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Register</button>
        </form>
    </div>

</body>

</html>